name = "IonMobility"
uuid = "d52acdd5-2c20-4c19-89bb-81d2a422aeb2"
authors = ["Jarvist Moore Frost"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
